.activities-list {
    display: flex;
    justify-content: space-between;
}
.activity {
    position: relative;
}

.activity_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
  
    position: absolute;
    left: 0;
    bottom: 0;
  
    background-color: rgba(47, 48, 58, 0.8);
}

.activity_title {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: $space-measure;
    text-transform: uppercase;
  
    color: $first-color;
}

  