@import './utils/variables';
@import './utils/breakpoints';
@import './utils/placeholders';
@import './components/common';
@import './components/logo';
@import './components/social-net';
@import './components/container';
@import './components/1-page-header';
@import './components/2-hero';
@import './components/3-our-values';
@import './components/5-our-team';
@import './components/6-our-clients';
@import './components/7-footer';
@import './components/backdrop';
@import './components/portfolio';