.values-section {
    @media screen and (min-width:$desktop) {
        padding-top: 94px;
       
    }
    
}
.values {
    @media screen and (min-width:$tablet){
        display: flex;
        /*justify-content: space-between;*/
        flex-wrap: wrap;
    }
    @media screen and (min-width:$desktop) {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    
}
.value {
    @media screen and (min-width:$tablet) {
        width: 354px;
    @media screen and (min-width:$desktop) {
            margin-bottom: 0%;
            width: 270px;
        }
    }

}
.value:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width:$desktop) {
        margin-right: 30px;
    }
}
}
.value:nth-child(2n+1){
    @media screen and (min-width:$tablet) and (max-width:$pre-desktop) {
        margin-right: 30px;
    }
}

.value_img {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #f5f4fa;
    border-radius: 4px;
  
    margin-bottom: 30px;
}

.value_icon {
    width: 70px;
    height: 70px;
}

.value_title {
    color: $second-color;
  
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: $space-measure;
    text-transform: uppercase;
  
    margin-bottom: 10px;
    @media screen and (min-width:$tablet) {
        text-align: left;
    }
}
.value_descr {
    font-weight: 400;
    line-height: 1.7;
  
    letter-spacing: $space-measure;
}