.client-base {
    display: flex;
    flex-wrap: wrap;
}
.client {
    display: flex;
   
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 90px;
  
    border-radius: 4px;
    border: 1px solid $svg-pic-color;
  
    transition: $change-function;

    
    &:nth-child(2n+1) {
        margin-right: 30px;
    }
    &:not(:nth-last-child(-n+2)) {
        margin-bottom: 30px;
    }

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
        cursor: pointer;
    
        transition: $change-function;
    }
    &:hover .client_logo,
    &:focus .client_logo {
        fill: $accent-color;
        cursor: pointer;
    
        transition: $change-function;
    }
}

.client_logo {
    fill: $svg-pic-color;
  
    transition: $change-function;

    &--1 {
        width: 44.27px;
        height: 49.23px; 
    }
    &--2 {
        width: 40px;
        height: 52px;
    }
    &--3 {
        width: 41px;
        height: 42.6px;
    }
    &--4 {
        width: 79.66px;
        height: 40.02px;
    }
    &--5 {
        width: 59px;
        height: 47px;
    }
    &--6 {
        width: 88.5px;
        height: 45.44px;
    }
}

  