
footer {
    background-color: $backcolor;
  
    padding-top: 60px;
    padding-bottom: 60px;
}
.container--footer {
    @media screen and (min-width:$tablet) and (max-width:$pre-desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;              
    }
       
    @media screen and (min-width:$desktop){
       display: flex;
       flex-direction: row;
       align-items: baseline;
       justify-content: space-between;
    }
}
.impressum-block {
    text-align: center;

    @media screen and (min-width:$tablet) and (max-width:$pre-desktop) {
        width: 50%;
           
    }

       
    @media screen and (min-width:$desktop){
        text-align: left;

      
    }
}
.impressum {
    color: $first-color;
    font-style: normal;
    
  
    display: block;
    padding-top: 20px;
}
.impressum_item:not(:last-child) {
    margin-bottom: 9px;
}
.impressum_contact {
    color: rgba(100%, 100%, 100%, 60%);
  
    font-weight: 400;
    line-height: 1.7;
  
    text-decoration: none;
    letter-spacing: $space-measure;
  
    transition: $change-function;

    &:hover,
    &:focus {
        color: $accent-color;
        cursor: pointer;
    
        transition: $change-function;
    }

}
.corp-soc-net-block {
     
    margin-top: 60px;

    text-align: center;

    @media screen and (min-width:$tablet) and (max-width:$pre-desktop) {
        width: 50%;

        margin-top: 0;
          
    }
       
    @media screen and (min-width:$desktop){
        text-align: left;
        margin-top:0;
       
    }
}

.join {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $first-color;
  
    margin-bottom: 20px;
    padding-top: 12px;

    @media screen and (min-width:$tablet) {
        padding-top: 5px;
           
    }

    
}

.subscribe-block {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
 
    @media screen and (max-width:$pre-desktop) {
        margin-top: 60px;

        text-align: center;

    }
}
.form-footter {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    margin-top: 20px;

    @media screen and (min-width:$desktop) {
        flex-direction: row;
    }
    
}
.subscribe-mail {
    padding: 15px 16px 15px 16px;
    /*margin-right: 12px;*/
    margin-bottom: 20px;
  
    width: 358px;
    height: 50px;
  
    background-color: transparent;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: $space-measure;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (min-width:$desktop) {
        margin-right: 12px;
        margin-bottom: 0;
    }

}
.subscribe_icon {
    display: inline-block;
    margin-left: 10px;
  
    width: 24px;
    height: 24px;
  
    fill: $first-color;
}

   