
footer {
    background-color: $backcolor;
  
    padding-top: 60px;
    padding-bottom: 60px;
}

.impressum {
    color: $first-color;
    font-style: normal;
  
    display: block;
    padding-top: 20px;
}
.impressum_item:not(:last-child) {
    margin-bottom: 9px;
}
.impressum_contact {
    color: rgba(100%, 100%, 100%, 60%);
  
    font-weight: 400;
    line-height: 1.7;
  
    text-decoration: none;
    letter-spacing: $space-measure;
  
    transition: $change-function;

    &:hover,
    &:focus {
        color: $accent-color;
        cursor: pointer;
    
        transition: $change-function;
    }

}
.corp-soc-net-block {
    width: 206px;
  
    margin-left: 62px;
}

.join {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $first-color;
  
    margin-bottom: 20px;
    padding-top: 12px;
}

.subscribe-block {
    margin-left: 94px;
}
.form-footter {
    display: flex;
    align-items: center;
  
    margin-top: 20px;
}
.subscribe-mail {
    padding: 15px 16px 15px 16px;
    margin-right: 12px;
  
    width: 358px;
    height: 50px;
  
    background-color: transparent;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: $space-measure;
    color: rgba(255, 255, 255, 0.6);
}
.subscribe_icon {
    display: inline-block;
    margin-left: 10px;
  
    width: 24px;
    height: 24px;
  
    fill: $first-color;
}

   