%style-reset {
    margin: 0;
    padding: 0;
}

%list-reset {
    list-style: none;
}

%container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}