$first-color: #ffffff;
$second-color: #212121;
$third-color: #757575;
$accent-color: #2196f3;
$backcolor: #2f303a;
$svg-pic-color: #afb1b8;

$space-measure: 0.03em;

$main-font: "Roboto";
$special-font: "Railway";

$change-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);